.global-container {
    min-height: 980px;
    position: relative;
    height: 100vh;
}

.content-container {
    margin: 20px auto 0;
    max-width: 700px;
}
.content-container h1 {
    font-size: clamp(30px, 5vw, 30px);
    text-align: center;
}
.content-container p {
    font-size: clamp(18px, 3vw, 20px);
}
@media screen and (max-width: 700px){
    .content-container {
        margin: 50px 3vw 0;
    }
}


/*home css ecommerce*/

.home-title {
  margin-bottom: 10px;

}
.home-title span {
  font-family: "Lobster", sans-serif;
}

.content-container p {
  line-height: 1.4;
  font-size: 18;
  margin-bottom: 10px;
}
.content-container img {
/*  margin-top: 15px;*/
  width: 100%;
  border-radius: 5px;
/*  max-height: 580px;*/
}
